<%- include('./partials/head.ejs') %>
<div class="page-slider">
    <h1 class="head-title">Plant Swap</h1>
<section class="background-color">
    <div class="homepage-button-position">
    <button class="homepage-button-left">Ruilen</button>
    <button class="homepage-button-right">Inleveren</button>
    </div>
    <p class="homepage-instruction">Hoe werkt het?</p>
    </section>

<!-- SCND PAGE  -->

    <button onClick="slide('next')" class="arrow-down"></button>

<section class="page">
    <h2>Hoe werkt het?</h2>
    <img class="card-image" src="https://picsum.photos/10" alt="">
     <p>stap 1</p>   
</section>
</div>
<!-- END SCND PAGE -->

<% stekjes.forEach(stekje => { %>

    <section class="plant-info-card">
   
    <h2><%= stekje.naam %></h2>
<div class="cards-single">
    <div class="plant-info-card-front">
        <div class="dot"></div>
        <img class="card-image" src="https://picsum.photos/100/150" alt="">
       
    </div>
</div>
<div class="cards">
    <div class="plant-info-card-back">
        <div class="dot"></div>
        <img class="card-image" src="https://picsum.photos/100" alt="">
        <ul>
            <li><span>Verpotten</span> <%= stekje.verpotten %></li>
            <li><span>Giftig</span> <%= stekje.giftig %></li>
            <li><span>Land van herkomst</span> <%= stekje.landvanherkomst %></li>
            <li><span>Voeding</span> <%= stekje.voeding %></li>
        </ul>
    </div>
</div>
</section>

    <% }) %>

    

<%- include('./partials/foot') %>